__pycache__
.venv
/.eggs
/*.egg-info
/*.o
/*.c
/*.so
/*.pyd
/Release
/build_scripts/dl
/build_scripts/out
/build_scripts/prefix
/build_scripts/src
/build_scripts/extract
/build_scripts/_gaem.c
/build_scripts/cross_venv
/build_scripts/crossenv_build
/build
/gaem_libs
